@charset "utf-8";
header{
    padding: 0 0 30px 0;
}
footer{
    padding: 30px 0 0 0;
}
body{
    min-width: 1200px;
    background-color: #111111;
    background-image: url(../images/background.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}



/*************************************************************************************
 ヘッダー & フッター
*************************************************************************************/

/* ヘッダー ******************************/
.commonHeader{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #11111100;
    font-family: 'Josefin Sans', sans-serif;
    color: #FFF;
}
.commonHeader a{
    text-decoration: none;
    color: #FFF;
}


/* ロゴ ******************************/
.commonLogoBox{
    padding: 50px 0 30px 0;
}


/* ナビゲーション ******************************/
.commonNav{
    padding: 20px 0 20px 0;
    margin: 20px auto -25px auto;
}
.commonMenu{
    display: inline-block;
    margin: 0 25px;
    line-height: 2rem;
    letter-spacing: 4px;
    font-size: 0.9rem;
    font-weight: 350;
    transition: border-bottom 0.5s ease;
    border-bottom: 2px solid transparent;
}
.commonSnsMenu{
    margin: 0 10px;
}
.commonSnsMenu .fa-brands{
    font-size: 1.4rem;
}
.commonMenu:hover{
    color: #1FD9D9;
    cursor: pointer;
    border-bottom: 2px solid #1FD9D9;
}

.commonMenuLink{
    text-decoration: none;
    color: #fff;
    border: none;
}
.commonMenu:hover .commonMenuLink {
    color: #1FD9D9;
}
.commonMenu:hover .fa-brands{
    color: #1FD9D9;
    cursor: pointer;
}


/* フッター ******************************/
.commonFooter{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #111111;
    font-family: 'Josefin Sans', sans-serif;
    color: #FFF;
}
.commonFooter a{
    text-decoration: none;
}
.commonFooter .fa-brands{
    color: #FFF;    
}
.commonLetterContein{
    position: relative;
    margin: 60px 0;
}
.commonLetterHr{
    border-color: #444;
}
.commonLetterBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    background-color: #111111;  
    border: 1px solid #444;
    border-radius: 60px;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 20px 0px 14px 0px;
    font-size: 0.9rem;
    line-height: 25px;
}
.commonLetterBoxItem{}
.commonLetterInfo{
    color: #1FD9D9;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 4px;
    padding: 0 30px 0 40px;
}
.commonLetterDetail{
    width: 320px;
    border-left: 1px solid #444;
    color: #aaa;
    letter-spacing: 1px;
    padding-left: 30px;
}
.commomLettterLine{
    display: block;
    width: 200px;
    padding: 13px 0px 10px 0px;
    background-color: #111111;
    border: solid 2px #1FD9D9;
    color: #1FD9D9;
    border-radius: 30px;
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    transition: 0.5s;
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: -8px;
    text-align: center;
}
.commomLettterLine:hover{
    background-color: #1FD9D9;
    color: #000;
}

.commonFooterNav{
    padding: 100px 0;
    border-bottom: 1px solid #BBB;
}
.commonFooterMenu{
    display: inline-block;
    line-height: 32px;
    letter-spacing: 2px;
    color: #888;
}
.commonFooterMenuLink{
    color: #888;
    transition: 0.4s;
}

.commonFooterMenuLink:hover{
    color: #ffffff;
    cursor: pointer;
}

.commonFooterCopyright{
    padding: 20px 0 10px 0;
    font-family: sans-serif;
    font-size: 0.8rem;
}



