<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/rsv_comp.css">
    
    <title>管理者：予約完了</title>
    
</head>
<body>    
    <header class="commonHeader">

        <!-- ロゴ -->
        <figure class="commonLogoBox">
            <img class="commonLogo" src="../images/logo.svg" alt="HAL CINEMA">
        </figure>

    </header>




    <div class="container">
        <p class="pp">Red tail 様の予約内容を確定しました。</p>        
        <p class="color">※以下の内容をお客様へ伝えてください。</p>
        <div class="info">
            <h2>ご予約番号 (映画チケットの発券時に必要になります。)</h2>
            <div class="number">xxxx</div>
        </div>
        <div class="info">
            <h2>会員様登録メールアドレス</h2>
            <div class="number">sample.halshinema@gmail.com</div>
        </div>
        <p class="txt">※数時間経ってもメールが届かない場合は、お問い合わせページへ行くように促して下さい。</p>

        <hr color="#444">

        <nav class="commonNav">
            <ul>
              <li class="commonMenu"><a class="commonMenuLink" href="index.html">LOGOUT</a></li>
            </ul>
        </nav>

    </div>






    <!-- フッター ------------------------------------------------->
    <footer class="commonFooter">

      
        <p class="commonFooterCopyright">&copy;2024 HAL CINEMA</p>
    </footer>

</body>
</html>
