<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HALCINEMA｜TOP</title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/data_b.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
		integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
		rel="stylesheet">
</head>

<body>
	<div id="mid">
		<div id="hidari_soto">
			<div id="hidari">
				<div id="all">
					<a th:href="@{/data1}">映画情報　　　　　〉</a>
					<a th:href="@{/data2}">上映スケジュール　〉</a>
					<a th:href="@{/mng_logout}">ログアウト　　　　〉</a>
				</div>
			</div>
		</div>


		<div id="migi">
			<div id="box">
				<div class="boxbox">
					<a th:href="@{/data1}" class="boxbtn"><img src="../images/movie.png" alt="button"
							class="icon">映画情報</a>
				</div>
				<div class="boxbox">
					<a th:href="@{/data2}" class="boxbtn" id="days"><img src="../images/calendar.png" alt="button"
							class="icon">上映スケジュール</a>
				</div>
				<div class="boxbox">
					<a th:href="@{/mng_logout}" class="boxbtn"><img src="../images/logout.png" alt="button"
							class="icon">ログアウト</a>
				</div>
			</div>
			<div id="box-database-divider"></div>
			<div id="database">

				<!-- 検索 -->
				<div class="dataContent">
					<p class="dataLbl">フィルター</p>
					<div class="dataBox">
						<form method="post" th:action="@{/data1}">
							<table class="dataTable">
								<tr>
									<td class="dataTh">タイトル</td>
									<td class="dataTh2">
										<input class="cell-input" type="text" name="searchTitle">
									</td>
									<td>　</td>
								</tr>
								<tr>
									<td class="dataTh">公開月</td>
									<td class="dataTh2">
										<select class="cell-input" name="seachDate">
											<option disabled selected value>選択してください</option>
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
											<option>6</option>
											<option>7</option>
											<option>8</option>
											<option>9</option>
											<option>10</option>
											<option>11</option>
											<option>12</option>
										</select>
									</td>
									<td>　</td>
								</tr>
								<tr>
									<td class="dataTh">公開状態</td>
									<td class="dataTh2 dataCheckBox">
										<input type="checkbox" class="cell-input" name="searchStatus">
									<td>　</td>
								</tr>
								<tr class="dataBtn">
									<td colspan="3">
										<button type="submit">検索</button>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
				
			<p class="viewerInfo" th:if="${btnStatus == null}">閲覧専用ページです<br>データを編集・追加・削除するには管理者ログインをしてください</p>



				<table class="formTable">
					<tr>
						<th>タイトル</th>
						<th>公開日</th>
						<th>上映時間</th>
						<th>作品詳細</th>
						<th>作品画像</th>
						<th>URL</th>
						<th>スタッフ</th>
						<th>公開状態</th>
						<th class="btn" th:if="${btnStatus != null}">編集/削除</th>
					</tr>

					<!-- データの追加  -->
					<form th:action="@{/addMovie}" method="post" id="movieForm" enctype="multipart/form-data" th:if="${btnStatus != null}">
						<tr>
							<td class="title"><input type="text" class="cell-input" id="title" name="titleName"></td>
							<td class="data"><input type="date" class="cell-input" id="data" name="publicationDate">
							</td>
							<td class="int"><input type="number" class="cell-input" id="int" name="runningTime"></td>
							<td class="description"><input type="text" class="cell-input" id="description"
									name="description"></td>
							<td class="description"><input type="file" class="cell-input" id="img" name="imgPath"></td>
							<td class="title"><input type="text" class="cell-input" id="url" name="url"></td>
							<td class="title"><input type="text" class="cell-input" id="staff" name="staff"></td>
							<td class="tgl"><input type="checkbox" class="cell-input" id="tgl" name="tgl">
							</td>
							<td class="btn">
								<div class="btn_g">
									<button type="submit" class="save2" id="save2"><i class="fas fa-save"></i></button>
									<button type="submit" class="save" id="save"><i class="fas fa-save"></i></button>
								</div>
							</td>
						</tr>
					</form>

					<form method="post" th:action="@{/update}">
						<tr th:each="movie : ${movies}">
							<td class="title , description" th:attr="data-id=${movie.movieId}">
								<p th:text="${movie.movieTitle}" class="movieTxt"></p>
								<input type="text" class="cell-input none-input" id="title" name="titleNameUpdate">
							</td>
							<td class="data">
								<p th:text="${movie.releaseDay}" class="movieTxt"></p>
								<input type="date" class="cell-input none-input" id="data" name="publicationDateUpdate">
							</td>
							<td class="int">
								<p th:text="${movie.runningTime}" class="movieTxt"></p>
								<input type="number" class="cell-input none-input" id="int" name="runningTimeUpdate">
							</td>
							<td class="description">
								<p th:text="${movie.movieDetails}" class="movieTxt"></p>
								<input type="text" class="cell-input none-input" id="description"
									name="descriptionUpdate">
							</td>
							<td class="description">
								<p th:text="${movie.img}" class="movieTxt"></p>
								<input type="file" class="cell-input none-input" id="img" name="imgPathUpdate">
							</td>
							<td class="description">
								<p th:text="${movie.url}" class="movieTxt"></p>
								<input type="text" class="cell-input none-input" id="url" name="urlUpdate">
							</td>
							<td class="description">
								<p th:text="${movie.staff}" class="movieTxt"></p>
								<input type="text" class="cell-input none-input" id="staff" name="staff">
							</td>
							<td class="tgl" id="tglTd">
								<input id="tglCenter" class="isTgl" type="checkbox" th:checked="${movie.releaseStatus}"
									disabled>
							</td>

							<td class="btn" th:if="${btnStatus != null}">
								<div class="btn_g">
									<!-- 編集ボタン -->
									<button type="button" class="edit" th:attr="data-id=${movie.movieId}"
										onclick="upBtn(this)">
										<i class="fas fa-edit"></i>
									</button>
									<button type="submit" class="save3" th:attr="data-id=${movie.movieId}">
										<i class="fas fa-save"></i>
									</button>

									<!-- 削除ボタン -->
									<form method="post" th:action="@{/deleteMovie}">
										<input type="hidden" name="movieId" th:value="${movie.movieId}" />
										<button type="submit" class="del">
											<i class="fas fa-trash-alt"></i>
										</button>
									</form>
								</div>
							</td>
						</tr>
					</form>
					</tableclass="formTable">
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="../js/data_1.js"></script>

</html>