<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HALCINEMA｜TOP</title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/data_b.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
		integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
		rel="stylesheet">
</head>

<body>
	<div id="mid">
		<div id="hidari_soto">

			<div id="hidari">
				<div id="all">
					<a href="data_1.html">映画情報　　　　　〉</a>
					<a href="data_2.html">上映スケジュール　〉</a>
					<a href="news">ログアウト　　　　〉</a>
				</div>
			</div>

		</div>


		<div id="migi">
			<div id="box">
				<div class="boxbox">
					<a href="data_1.html" class="boxbtn"><img src="../images/movie.png" alt="button"
							class="icon">映画情報</a>
				</div>
				<div class="boxbox">
					<a href="data_2.html" class="boxbtn" id="days"><img src="../images/calendar.png" alt="button"
							class="icon">上映スケジュール</a>
				</div>
				<div class="boxbox">
					<a href="" class="boxbtn"><img src="../images/logout.png" alt="button" class="icon">ログアウト</a>
				</div>
			</div>
			<div id="box-database-divider"></div>
			<div id="database">

				<!-- 検索 -->
				<div class="dataContent">
					<p class="dataLbl">フィルター</p>
					<div class="dataBox">
						<form method="post" th:action="@{/data2}">
							<table class="dataTable">
								<tr>
									<td class="dataTh">タイトル</td>
									<td class="dataTh2">
										<select class="cell-input" name="searchTitle">
											<option disabled selected value>選択してください</option>
											<option th:each="movieTitle : ${movieTitles}" th:text="${movieTitle[0]}"
												th:value="${movieTitle[0]}"></option>
										</select>
									</td>
									<td>　</td>
								</tr>
								<tr>
									<td class="dataTh">スクリーン</td>
									<td class="dataTh2">
										<select class="cell-input" name="searchScreen">
											<option disabled selected value>選択してください</option>
											<option th:each="screen : ${screens}" th:value="${screen[0]}"
												th:text="${screen[0]}"></option>
										</select>
									</td>
									<td>　</td>
								</tr>
								<tr>
									<td class="dataTh">上映日</th>
									<td class="dataTh2">
										<input type="date" class="cell-input" name="seachDate">
									</td>
									<td>　</td>
								</tr>
								<tr class="dataBtn">
									<td colspan="3">
										<button type="submit">検索</button>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>



				<table class="formTable">
					<tr>
						<th>タイトル</th>
						<th>公開日</th>
						<th>上映時間</th>
						<th>作品詳細</th>
						<th>作品画像</th>
						<th>公開状態</th>
						<th class="btn">編集/削除</th>
					</tr>

					<!-- データの追加  -->
					<form th:action="@{/addMovie}" id="movieForm" method="post" enctype="multipart/form-data">
						<tr>
							<td class="title" name="titleName"><input type="text" class="cell-input" id="title"></td>
							<td class="data" name="publicationDate"><input type="date" class="cell-input" id="data"></td>
							<td class="int" name="runningTime"><input type="number" class="cell-input" id="int"></td>
							<td class="description" name="discription"><input type="text" class="cell-input"id="description"></td>
							<td class="img" name="imgPath"><input type="file" class="cell-input" id="img"></td>
							<td class="tgl" name="tgl"><input type="checkbox" class="cell-input" id="tgl"></td>
							<td class="btn">
								<div class="btn_g">
									<button type="submit" class="save2" disabled id="save2"><i
											class="fas fa-save"></i></button>
									<button type="submit" class="save" id="save"><i class="fas fa-save"></i></button>
								</div>
							</td>
						</tr>
					</form>


					<tr th:each="movie : ${movies}">
						<td class="title" th:text="${movie.movieTitle}" th:attr="data-id=${movie.movieId}"></td>
						<td class="data" th:text="${movie.releaseDay}"></td>
						<td class="int" th:text="${movie.runningTime}"></td>
						<td class="description" th:text="${movie.movieDetails}"></td>
						<td class="img" th:text="${movie.img}"></td>
						<td class="tgl">
							<input type="checkbox" th:checked="${movie.releaseStatus}" disabled>
						</td>
						<td class="btn">
							<div class="btn_g">
								<!-- 編集ボタン -->
								<form method="get" th:action="@{/addMovie}" style="display: inline;">
									<button type="submit" class="edit" th:attr="data-id=${movie.movieId}">
										<i class="fas fa-edit"></i>
									</button>
								</form>

								<!-- 削除ボタン -->
								<form method="post" th:action="@{/deleteMovie}">
									<button type="submit" class="del" name="movieId" th:value="${movie.movieId}">
										<i class="fas fa-trash-alt"></i>
									</button>
								</form>
							</div>
						</td>
					</tr>
					</tableclass="formTable">
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="../js/data_1.js"></script>

</html>