
<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HALCINEMA｜TOP</title>

    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/data.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">


<!-- jQuary本体 CDN -->
<!-- <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script> -->
<!-- jQuaryの実行 -->
<!-- <script type="text/javascript" src="js/common.js"></script> -->

  </head>

  <body>




    <div id="mid">
      <div id="hidari_soto">
        <div id="hidari">
          <div id="all">
            <a th:href="@{/data1}">映画情報　　　　　〉</a>
            <a th:href="@{/data2}">上映スケジュール　〉</a>
            <a th:href="@{/mng_logout}">ログアウト　　　　〉</a>
          </div>
        </div>
      </div>


      <div id="migi">
        <div id="box">
          <div class="boxbox">
            <a class="boxbtn" th:href="@{/data1}"><img src="../images/movie.png" alt="button" class="icon">映画情報</a>
          </div>
          <div class="boxbox">
            <a class="boxbtn" id="days" th:href="@{/data2}"><img src="../images/calendar.png" alt="button" class="icon">上映スケジュール</a>
          </div>
          <div class="boxbox">
            <a class="boxbtn" th:href="@{/mng_logout}"><img src="../images/logout.png" alt="button" class="icon">ログアウト</a>
          </div>
        </div>

        <div id="box-database-divider"></div>

        <div id="database">
			
			<!-- 検索 -->
			<div class="dataContent">
				<p class="dataLbl">フィルター</p>
				<div class="dataBox">
					<form method="post" th:action="@{/data2}">
						<table class="dataTable">
							<tr>
								<td class="dataTh">タイトル</td>
								<td class="dataTh2">
						            <select class="cell-input" name="searchTitle">
						                <option disabled selected value>選択してください</option>
						                <option th:each="movieTitle : ${movieTitles}" th:text="${movieTitle[0]}" th:value="${movieTitle[0]}"></option>
						            </select>
								</td>
								<td>　</td>
							</tr>
							<tr>
								<td class="dataTh">スクリーン</td>
								<td class="dataTh2">
						            <select class="cell-input" name="searchScreen">
						                <option disabled selected value>選択してください</option>
						                <option th:each="screen : ${screens}" th:value="${screen[0]}" th:text="${screen[0]}"></option>
						            </select>
								</td>
								<td>　</td>
							</tr>
							<tr>
								<td class="dataTh">上映日</th>
								<td class="dataTh2">
			            			<input type="date" class="cell-input" name="seachDate">									
								</td>
								<td>　</td>
							</tr>
							<tr class="dataBtn">
								<td colspan="3">
									<button type="submit">検索</button>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
			
			<!-- 一括登録 -->
			<div class="dataContent" th:if="${btnStatus != null}">
				<p class="dataLbl">一括登録</p>
				<div class="dataBox">
					<form method="post" th:action="@{/addBlukSchedule}">
						<table class="dataTable">
							<tr>
								<td class="dataAddTh">
						            <select class="cell-input" name="month">
						                <option disabled selected value>選択してください</option>
						                <option value="1">1</option>
						                <option value="2">2</option>
						                <option value="3">3</option>
						                <option value="4">4</option>
						                <option value="5">5</option>
						                <option value="6">6</option>
						                <option value="7">7</option>
						                <option value="8">8</option>
						                <option value="9">9</option>
						                <option value="10">10</option>
						                <option value="11">11</option>
						                <option value="12">12</option>
						            </select>									
								</td>
								<td class="dataAddTh2">ヵ月先までコピーする</td>
								<td class="dataAddBtn"><button type="submit">登録</button></td>
							</tr>
						</table>
					</form>
				</div>
			</div>
			
			
			<p class="viewerInfo" th:if="${btnStatus == null}">閲覧専用ページです<br>データを編集・追加・削除するには管理者ログインをしてください</p>
			
			
          <table class="formTable">
            <tr>
              <th>タイトル</th>
              <th>スクリーン</th>
              <th>上映日</th>
              <th>上映開始時間</th>
              <th>上映終了時間</th>
              <th class="btn" th:if="${btnStatus != null}">編集/削除</th>
            </tr>
            
			<!-- データ追加 -->
			<form id="screenForm" method="post" th:if="${btnStatus != null}">
			    <tr>
			        <td class="title2">
			            <select class="cell-input" name="titleName" id="titleName">
			                <option th:if="${title == null}" disabled selected value>選択してください</option>
			                <option th:if="${title != null}" th:text="${title}" th:value="${title}"></option>
			                <option th:each="movieTitle : ${movieTitles}" th:text="${movieTitle[0]}" th:value="${movieTitle[0]}"></option>
			            </select>
			            <input type="hidden" name="movieId" id="movieId" th:value="${movieId}">
			        </td>
			        <td class="sc">
			            <select class="cell-input" name="screenId" id="screenId">
			                <option th:if="${screen == null}" disabled selected value>選択してください</option>
			                <option th:if="${screen != null}" th:value="${screen}" th:text="${screen}"></option>
			                <option th:each="screen : ${screens}" th:value="${screen[0]}" th:text="${screen[0]}"></option>
			            </select>
			        </td>
			        <td class="day">
			            <input type="date" class="cell-input" name="sDate" id="date" th:value="${sDate != null ? sDate : ''}">
			        </td>
			        <td class="open">
			            <select class="cell-input" name="screeningTime" id="screeningTime">
			                <option th:if="${screeningTimeStr == null}" disabled selected value>上映日を選択してください</option>
			                <option th:if="${screeningTimeStr != null}" th:value="${screeningTimeStr}" th:text="${screeningTimeStr}"></option>
			                <option th:each="time : ${times}" th:text="${time}" th:value="${time}"></option>
			            </select>
			        </td>
			        <td class="close">
						<span th:if="${endScreening == null}">上映開始時間を選択してください</span>
						<span th:if="${endScreening != null}" th:text="${endScreening}"></span>
					</td>
			        <td class="btn">
			            <div class="btn_g">
			                <button th:if="${endScreening == null}" type="submit" class="save2" disabled><i class="fas fa-save"></i></button>
			                <button th:if="${endScreening != null}" type="submit" class="save"><i class="fas fa-save"></i></button>
			            </div>
			        </td>
			    </tr>
			</form>
            
            
				
			<!-- データ参照 -->
			<tr th:each="screeningSchedule : ${screeningSchedules}">
			    <td class="title2">
					<p id="titleTxt" th:text="${screeningSchedule[1]}"></p>
				</td>
			    <td class="sc">
					<p th:text="${screeningSchedule[2]}"></p>
				</td>
			    <td class="day"><p th:text="${#temporals.format(screeningSchedule[3], 'yyyy-MM-dd')}"></p></td>
				<td class="open">
					<p th:text="${#temporals.format(screeningSchedule[3], 'HH:mm')}" class="beforeOpenField" ></p>
		            <select class="cell-input updateOpenField" name="updateOpen" id="updateOpen">
		                <option disabled selected th:value="${#temporals.format(screeningSchedule[3], 'HH:mm')}" th:text="${#temporals.format(screeningSchedule[3], 'HH:mm')}"></option>
		                <option th:each="updateTime : ${screeningSchedule[6]}" th:text="${updateTime}" th:value="${updateTime}"></option>
		            </select>        			
				</td>
				<td class="close">
					<input class="runningTimeField" type="hidden" th:value="${screeningSchedule[4]}"/>					
					<p class="beforeClose" th:text="${#temporals.format(screeningSchedule[3].plusMinutes(screeningSchedule[4]), 'HH:mm')}"></p>
					<p class="afterClose"></p>
				</td>
			    <td class="btn" th:if="${btnStatus != null}">
			        <div class="btn_g">
			            <form method="post" th:action="@{/ssUpdate}">
							<input type="hidden" th:value="${#temporals.format(screeningSchedule[3], 'yyyy-MM-dd')}" name="updateDay"/>
							<input class="updateTimeEdit" type="hidden" th:value="${#temporals.format(screeningSchedule[3], 'HH:mm')}" name="updateTime"/>
							<input type="hidden" th:value="${screeningSchedule[0]}" name="updateId"/>
	            			<button type="button" class="edit" onclick="toggleUpdateField(this)"><i class="fas fa-edit"></i></button>
	            			<button type="submit" class="save3"><i class="fas fa-save"></i></button>
			            </form>
			            <form method="post" th:action="@{/ssDel}">
							<input type="hidden" th:value="${screeningSchedule[0]}" name="delId"/>
			            	<button type="submit" class="del"><i class="fas fa-trash-alt"></i></button>							
						</form>
			        </div>
			    </td>
			</tr>
          </table>
        </div>
      </div>
    </div>


	<script type="text/javascript" src="../js/data2.js"></script>

  </body>
</html>
