<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会員情報入力フォーム</title>
    <link rel="stylesheet" href="../css/input_info.css">
</head>
<body>
    <div class="background-overlay"></div>
    <div class="container">
        <div class="form-container">
            <h2>会員情報入力</h2>
			<form id="registrationForm" th:object="${formData}" action="/input_info" method="POST">
                <div class="form-group">
                    <label for="name">氏名</label>
                    <input type="text" id="name" name="name" placeholder="例）東急太郎" th:value="${formData.name}">
                    <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>
                <div class="form-group">
                    <label for="kana">氏名（かな）</label>
                    <input type="text" id="kana" name="kana" placeholder="例）とうきゅうたろう" th:value="${formData.kana}">
                    <div class="error" th:if="${#fields.hasErrors('kana')}" th:errors="*{kana}"></div>
                </div>
                <div class="form-group">
                    <label for="birthdate">生年月日</label>
                    <input type="text" id="birthdate" name="birthdate" placeholder="例）1990-01-01" th:value="${formData.birthdate}">
                    <div class="error" th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></div>
                </div>
                <div class="form-group">
                    <label for="phone">電話番号</label>
                    <input type="text" id="phone" name="phone" placeholder="例）012 - 345 - 6789" th:value="${formData.phone}">
                    <div class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
                </div>

                <div class="form-group">
                    <label for="email">メールアドレス</label>
                    <input type="email" id="email" name="email" placeholder="例）example@gmail.com" th:value="${formData.email}">
                    <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>
                <div class="form-group">
                    <label for="password">パスワード</label>
                    <input type="password" id="password" name="password" placeholder="英数混在8桁以上" th:value="${formData.password}">
                    <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                </div>
				
                <div class="button-container">
                    <button type="submit">次へ</button>
                </div>
            </form>
        </div>
    </div>
    <script src="../js/script.js"></script>
</body>
</html>
