<!DOCTYPE html>

<html lang="ja" xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>予約確認</title>

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/rsv_cfm.css">

  </head>

  <body>

    <!-- ヘッダー ------------------------------------------------->
    <header class="commonHeader">

        <!-- ロゴ -->
        <figure class="commonLogoBox">
            <img class="commonLogo" src="../images/logo.svg" alt="HAL CINEMA">
        </figure>


        <!-- ナビゲーション：メニュー項目と遷移先は適宜変更してください -->
        <nav class="commonNav">
            <ul>
              <li class="commonMenu"><a class="commonMenuLink" href="showmovie.html">MOVIES</a></li>
              <li class="commonMenu"><a class="commonMenuLink" href="member.html">MEMBERS</a></li>
              <li class="commonMenu"><a class="commonMenuLink" href="service.html">SERVICE</a></li>
              <li class="commonMenu"><a class="commonMenuLink" href="access.html">ACCESS</a></li>
              <li class="commonMenu commonSnsMenu"><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
              <li class="commonMenu commonSnsMenu"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
      <h1>購入内容確認</h1>
      <hr color="#1FD9D9">
      <div class="info-block">
        <h2>購入内容</h2>
        <table>  
          <tr>
            <td class="item">劇場名</td>
            <td class="item2">HAL CINEMA</td>
          </tr>
          <tr>
            <td class="item">作品名</td>
            <td class="item2" th:text="${screeningScheduleList[0][0]}"></td>
          </tr>
          <tr>
            <td class="item">シアター</td>
            <td class="item2" th:text="${'THEATER'+screeningScheduleList[0][3]}"></td>
          </tr>
          <tr>
            <td class="item">座席番号</td>
            <td class="item2" th:text="${selectedCell1Content}"></td>
          </tr>
          <tr>
            <td class="item">座席番号(同伴者)</td>
            <td class="item2" th:text="${selectedCell2Content}"></td>
          </tr>
          <tr>
        </table>
      </div>
      

      
      <div class="info-block">
        <h2>お客様情報</h2>
        <table>
          <tr>
            <td class="item">氏名</td>
            <td class="item2"><span id="name" th:text="${memberList[0][0]}"></span></td>
          </tr>
          <tr>
            <td class="item">氏名（かな）</td>
            <td class="item2"><span id="kana" th:text="${memberList[0][1]}"></span></td>
          </tr>
          <tr>
            <td class="item">電話番号</td>
            <td class="item2"><span id="phone" th:text="${memberList[0][2]}"></span></td>
          </tr>
          <tr>
            <td class="item">メールアドレス</td>
            <td class="item2"><span id="email" th:text="${memberList[0][3]}"></span></td>
          </tr>
        </table>
      </div>

      <hr class="line2" color="#565656">
      

      <form class="btn" method="post" th:action="@{/reserve_comp}">
		<input type="hidden" th:value="${seatNumber}" name="seatNumber">
		<input type="hidden" th:value="${guestSeatNumber}" name="guestSeatNumber">
		<input type="hidden" th:value="${screeningScheduleId}" name="screeningScheduleId">
		<input type="hidden" th:value="${memberId}" name="memberId">
		
		<a class="back-btn" th:href="@{/reserve(screeningScheduleId=${screeningScheduleId})}">戻る</a>
        <button type="submit" class="confirm-btn">確定する</button>
      </form>
    </div>

    <!-- フッター ------------------------------------------------->
    <footer class="commonFooter">

        <!-- NEWSLETTER -->
        <div class="commonLetterContein">
          <hr class="commonLetterHr">
          <div class="commonLetterBox">
              <p class="commonLetterBoxItem commonLetterInfo">NEWSLETTER</p>
              <p class="commonLetterBoxItem commonLetterDetail">HALCINEMAの新しい情報、特別な<br>ご案内などをお届けいたします。</p>
              <a class="commonLetterBoxItem commomLettterLine" href="https://page.line.me/909kiqea">公式LINEに登録する   →</a>
          </div>
        </div>


        <!-- ロゴ -->
        <figure class="commonLogoBox">
            <img class="commonLogo" src="../images/logo.svg" alt="HAL CINEMA">
        </figure>


        <!-- ナビゲーション：メニュー項目と遷移先は適宜変更してください -->
        <nav class="commonNav">
            <ul>
                <li class="commonMenu"><a class="commonMenuLink" href="showmovie.html">MOVIES</a></li>
                <li class="commonMenu"><a class="commonMenuLink" href="member.html">MEMBERS</a></li>
                <li class="commonMenu"><a class="commonMenuLink" href="service.html">SERVICE</a></li>
                <li class="commonMenu"><a class="commonMenuLink" href="access.html">ACCESS</a></li>
                <li class="commonMenu commonSnsMenu"><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li class="commonMenu commonSnsMenu"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </nav>



      <nav class="commonFooterNav">
          <ul>
              <li class="commonFooterMenu"><a class="commonFooterMenuLink" th:href="@{/toppage}">ホーム</a></li>
              <li class="commonFooterMenu commonMenuLine">｜</li>
              <li class="commonFooterMenu"><a class="commonFooterMenuLink" href="https://forms.gle/CPnin4yeeBP7LthE8">お問い合わせ</a></li>
              <li class="commonFooterMenu commonMenuLine">｜</li>
              <li class="commonFooterMenu"><a class="commonFooterMenuLink" th:href="@{/logout}">ログアウト</a></li>
          </ul>
      </nav>
        <p class="commonFooterCopyright">&copy;2024 HAL CINEMA</p>
    </footer>

  </body>

</html>
