<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>service</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <!-- ヘッダーとフッター適用に必須↓ -->
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../css/service.css">
</head>
<body id="service">
    
    <!-- ヘッダー ------------------------------------------------->
    <header class="commonHeader">

        <!-- ロゴ -->
        <figure class="commonLogoBox">
            <img class="commonLogo" src="../images/logo.svg" alt="HAL CINEMA">
        </figure>


        <!-- ナビゲーション：メニュー項目と遷移先は適宜変更してください -->
        <nav class="commonNav">
            <ul>
                <li class="commonMenu"><a class="commonMenuLink" th:href="@{${topLink}}">TOP</a></li>
                <li class="commonMenu"><a class="commonMenuLink" th:href="@{/showmovie}">MOVIES</a></li>
                <li class="commonMenu"><a class="commonMenuLink" th:href="@{/member}">MEMBERS</a></li>
                <li class="commonMenu"><a class="commonMenuLink" th:href="@{/access}">ACCESS</a></li>
                <li class="commonMenu commonSnsMenu"><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li class="commonMenu commonSnsMenu"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </nav>
    </header>


    <main class="serviceMain">

        <!-- コンセプトムービー -->
        <section class="serviceConceptMovieContein">
            <video autoplay muted loop id="bg-video" width="1000" height="563">
                <source src="../images/halcinema_Opv.mp4" type="video/mp4">
                お使いのブラウザはvideoタグをサポートしていません。
            </video>
            <p class="serviceConceptDetail">
                本質を知る者へ。感性をひらいてここへ。<br>
                "推し"が、あなたとの出会いを待っている。<br>
                <br>
                <span class="serviceConceptDetailBold">ここにしかない、推し活。</span><br>
                HALCINEMA
            </p>
        </section>


        <!-- サービスナビゲーション -->
        <nav class="serviceNav" id="serviceNav">
            <ul class="serviceMenuBox" id="serviceLink">
                <li class="serviceMenu"><a class="serviceMenuLink" th:href="@{/service#service1}">LOUNGE<br><i class="fa-solid fa-chevron-down"></i></a></li>
                <li class="serviceMenu"><a class="serviceMenuLink" th:href="@{/service#service2}">WELCOME CONCESSION<br><i class="fa-solid fa-chevron-down"></i></a></li>
                <li class="serviceMenu"><a class="serviceMenuLink" th:href="@{/service#service3}">POST CREDIT<br><i class="fa-solid fa-chevron-down"></i></a></li>
                <li class="serviceMenu serviceMenuEnd"><a class="serviceMenuLink" th:href="@{/service#service4}">THEATERS<br><i class="fa-solid fa-chevron-down"></i></a></li>
            </ul>
        </nav>

        <!-- サービスの特徴 -->
        <section class="serviceContain" id="service1">
            <div class="serviceBox">
                <p class="serviceInfo">LOUNGE</p>
                <hr class="serviceHr">
                <div class="serviceTopDetailBox">
                    <div class="serviceDetailImg serviceTopDetailImg"></div>
                    <div class="serviceTopDetailTxtBox">
                        <p class="serviceTopDetailInfo">上質なラウンジで、鑑賞前のひとときを過ごす</p>
                        <p class="serviceTopDetail">
                            非日常へとあなたをいざなうその場所は鑑賞者専用ラウンジ。映画上映の前後1時間よりご利用できます。
                            穏やかで、落ち着いた雰囲気は上映までの楽しみを盛り上げます。上映開始まで癒しのひと時をお過ごしください。<br>
                            また、定期で開催される上映作品とのコラボカフェでは特別仕様の空間へ変化し、等身大パネルとの記念撮影もできます。<br>
                            <br>
                            営業時間：初回上映終了後から最終回上映終了の1時間後まで（最終入店は最終回上映終了後の15分後まで）
                        </p>
                        <p class="serviceDetailPs">
                            ※劇場オープン時間は<a class="serviceDetailLink" th:href="@{/access#accessOpen}">こちら</a>
                        </p>
                        <p class="serviceDetailPs">
                            ※初回上映をご鑑賞のお客様は、オープン時間により1時間前から入場いただけない場合がございます。
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="serviceContain" id="service2">
            <div class="serviceBox">
                <p class="serviceInfo">WELCOME CONCESSION</p>
                <hr class="serviceHr">
                <div class="serviceDetailBox">
                    <div class="serviceDetailLeftImg1"></div>
                    <div class="serviceDetailTxtBox">
                    <p class="serviceDetailInfo">映画を共にするフードとドリンクを、自由に楽しむ</p>
                    <p class="serviceDetail serviceTopDetail">
                        厳選された食材を使用したフード、バラエティ豊かなソフトドリンクを取りそろえお客様をお迎えいたします。
                        ご購入特典として、キャラクターの可愛いキーホルダー、ファイル、その時々で変わるグッズを提供いたします。
                        映画上映中、上映までの待ち時間のお供にぜひどうぞ。
                    </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="serviceContain" id="service3">
            <div class="serviceBox">
                <p class="serviceInfo">POST CREDIT <br> <span class="serviceInfoMini">Souvenir Shop</span></p>
                <hr class="serviceHr">
                <div class="serviceDetailBox">
                    <div class="serviceDetailTxtBox">
                    <p class="serviceDetailInfo">ここでしか得られない想い出と記憶を、カタチにして持ち帰る</p>
                    <p class="serviceDetail serviceTopDetail">
                        当ショップでは、ファンのための楽園として、厳選された映画の公式グッズや限定商品を2000種類以上取り揃えています。
                        ここでしか手に入らない限定アイテムや、ユニークなグッズをご提供しています。
                        映画の世界をより楽しむための特別な体験をお届けします。
                        現場の雰囲気を崩さない空間でのお買い物をお楽しみください。
                    </p>
                    </div>
                    <div class="serviceDetailRightImg1"></div>
                </div>
            </div>
        </section>

        <section class="serviceContain" id="service4">
            <div class="serviceBox">
                <p class="serviceInfo">THEATERS</p>
                <hr class="serviceHr">
                <div class="serviceDetailBox">
                    <div class="serviceDetailLeftImg2"></div>
                    <div class="serviceDetailTxtBox">
                    <p class="serviceDetailInfo">唯一無二の鑑賞環境で、"映画に浸る"という感動を体験する</p>
                    <p class="serviceDetail serviceTopDetail">
                        大迫力の映像を満足いただけるように提供するため全席プレミアムシート、ハイスペックな映写、高品質な音響設備をご用意しました。
                        最高の環境から得られる極上の鑑賞体験をお楽しみください。
                        また応援上映やリバイバル上映などの当館でしか観られない上映も開催しております。
                    </p>
                    </div>
                </div>
            </div>
        </section>


    </main>

    
    <!-- フッター ------------------------------------------------->
    <footer class="commonFooter">

        <!-- NEWSLETTER -->
        <div class="commonLetterContein">
            <hr class="commonLetterHr">
            <div class="commonLetterBox">
                <p class="commonLetterBoxItem commonLetterInfo">NEWSLETTER</p>
                <p class="commonLetterBoxItem commonLetterDetail">HALCINEMAの新しい情報、特別な<br>ご案内などをお届けいたします。</p>
                <a class="commonLetterBoxItem commomLettterLine" href="https://page.line.me/909kiqea">公式LINEに登録する   →</a>
            </div>
        </div>


        <!-- ロゴ -->
        <figure class="commonLogoBox">
            <img class="commonLogo" src="../images/logo.svg" alt="HAL CINEMA">
        </figure>


        <!-- ナビゲーション：メニュー項目と遷移先は適宜変更してください -->
        <nav class="commonNav">
            <ul>
                <li class="commonMenu"><a class="commonMenuLink" th:href="@{${topLink}}">TOP</a></li>
                <li class="commonMenu"><a class="commonMenuLink" th:href="@{/showmovie}">MOVIES</a></li>
                <li class="commonMenu"><a class="commonMenuLink" th:href="@{/member}">MEMBERS</a></li>
                <li class="commonMenu"><a class="commonMenuLink" th:href="@{/access}">ACCESS</a></li>
                <li class="commonMenu commonSnsMenu"><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li class="commonMenu commonSnsMenu"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </nav>


        <nav class="commonFooterNav">
            <ul>
                <li class="commonFooterMenu"><a class="commonFooterMenuLink" th:href="@{${topLink}}">ホーム</a></li>
                <li class="commonFooterMenu commonMenuLine">｜</li>
                <li class="commonFooterMenu"><a class="commonFooterMenuLink" href="https://forms.gle/CPnin4yeeBP7LthE8">お問い合わせ</a></li>
            </ul>
        </nav>
        <p class="commonFooterCopyright">&copy;2024 HAL CINEMA</p>
    </footer>
    
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="../js/service.js"></script>
</body>
</html>
