
<!DOCTYPE html>

<html lang="ja">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HALCINEMA｜TOP</title>

    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/shop_conf2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">


<!-- jQuary本体 CDN -->
<!-- <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script> -->
<!-- jQuaryの実行 -->
<!-- <script type="text/javascript" src="js/common.js"></script> -->

</head>

<body>


    <div id="waku">
        <p id="cus_name">会員ID：<span th:text="${loggedInMemberId}"></span></p>
        <table>
            <tr>
                <td id="long">商品名</td>
                <td class="long2">個数</td>
                <td class="long2">価格</td>
            </tr>
        </table>

        <p id="kane">合計：0円</p>

        <div class="btn">
            <button onclick="location.href='/shop'" class="back-btn">取り消し</button>
            <button id="buyBtn" class="confirm-btn">確定する</button>
        </div>
    </div>



</body>
<script type="text/javascript" src="../js/shop2.js"></script>

<script type="text/javascript" src="../js/shop_con2.js"></script>
</html>
