<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ゲスト映画情報ページ</title>

    <!-- ヘッダーとフッター適用に必須↓ -->
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../css/showmovie.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- ヘッダー ------------------------------------------------->
    <header class="commonHeader">
      <!-- ロゴ -->
      <figure class="commonLogoBox">
        <img class="commonLogo" src="../images/logo.svg" alt="HAL CINEMA" />
      </figure>

      <!-- ナビゲーション：メニュー項目と遷移先は適宜変更してください -->
      <nav class="commonNav">
        <ul>
          <li class="commonMenu">
            <a class="commonMenuLink" th:href="@{${topLink}}">TOP</a>
          </li>
          <li class="commonMenu">
            <a class="commonMenuLink" th:href="@{/member}">MEMBERS</a>
          </li>
          <li class="commonMenu">
            <a class="commonMenuLink" th:href="@{/service}">SERVICE</a>
          </li>
          <li class="commonMenu">
            <a class="commonMenuLink" th:href="@{/access}">ACCESS</a>
          </li>
          <li class="commonMenu commonSnsMenu">
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
          </li>
          <li class="commonMenu commonSnsMenu">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- メインコンテンツ -->
    <main class="showmovieFl">
      <!-- 切替ボタン１ -->
      <div id="choiceBoxFl1">
        <div class="choice_box">
          <a href="#" class="nowShow1">Now Showing</a>
          <a href="#" class="comingShow1">Coming Soon</a>
        </div>
      </div>
      <!-- 映画情報フレーム全体１ -->
      <div class="content-container">
        <!-- 映画情報フレーム個々１-->
        <div class="content-item">
          <div class="unique-item">
            <img src="../images/BL_メイン.jpg" alt="Image 1" class="content-image" />
            <!-- <img src="../images/comingsoon.jpg" alt="Image 1" class="content-image" /> -->
            <div class="content-details">
              <h2 class="content-title">劇場版ブルーロック -EPISODE 凪-</h2>
              <p class="content-description">監督：石川俊介

                出演：島崎信長／内田雄馬／興津和幸／浦和希／海渡翼／小野友樹／斉藤壮馬／諏訪部順一／内山昂輝／神谷浩史／木村昴／せいや／小山茉美 ほか</p>
              <button class="content-button1">+ more show</button>
            </div>
          </div>
          <!-- クリックしたら表示されるコンテンツ -->
          <div class="more-detailFl1">
            <h1 class="introduce">INTRODUCTION</h1>
            <p class="more-detail">高校2年生の凪誠士郎は、無気力な学生生活を送っていた。W杯を夢見る同級生の御影玲王に誘われてサッカーを始めた凪は、サッカーセンスを発揮する。ある日、ブルーロックプロジェクトから招待状を受け取った凪は、全国から集められたストライカーに出会う。</p>
            <a href="https://bluelock-pr.com/" class="officialSiteCheck">オフィシャルサイト &#8362;</a>
            <h1 class="schedule">SCHEDULE</h1>
            <!-- カレンダー -->
            <div class="calendar-wrapper">
              <button id="scroll-left1" class="scroll-button">◀</button>
              <div class="calendar-container1">
                <div class="calendar1">
                  <!-- ここに日付を追加 -->
                  <div class="day select">
                    <p class="today">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                </div>
              </div>
              <button id="scroll-right1" class="scroll-button">▶</button>
            </div>

            <div id="s_top">
              <p id="now">2024/05/15<span class="mini">(水)</span></p>
            </div>

            <div class="s_waku">
              <div class="s_all">
                <div id="BLUELOCK"></div>
                <div class="s_head">
                  <p class="jp">劇場版ブルーロック -EPISODE 凪-<span class="eng">BLUELOCK</span></p>
                </div>

                <p class="s_sp">★NEW</p>

                <div class="s_rooms">
                  <div class="s_room">
                    <p class="theater">THEATER&thinsp;&thinsp;<span class="big">2</span></p>
                    <p class="xd">2D</p>
                    <p class="min">145min</p>
                  </div>

                  <div class="s_time">
                    <p class="start s_bought">10:10</p>
                    <p class="finish f_bought">~12:12</p>
                    <a class="buyFl1" href="#">
                      <img src="../images/cantBuy.png" alt="購入不可" />
                      <div class="cantBuy">購入不可</div>
                    </a>
                  </div>

                  <div class="s_time">
                    <p class="start">13:10</p>
                    <p class="finish">~15:12</p>
                    <a class="buyFl2" href="#">
                      <img src="../images/canBuy.png" alt="購入可" class="marubatsu" />
                      <div class="canBuy">購入</div>
                    </a>
                  </div>
                </div>

                <div class="s_rooms">
                  <div class="s_room">
                    <p class="theater">THEATER&thinsp;&thinsp;<span class="big">4</span></p>
                    <p class="xd">2D</p>
                    <p class="min">118min</p>
                  </div>

                  <div class="s_time">
                    <p class="start">13:10</p>
                    <p class="finish">~15:12</p>
                    <a class="buyFl2" href="#">
                      <img src="../images/canBuy.png" alt="購入可" class="marubatsu" />
                      <div class="canBuy">購入</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 映画情報フレーム個々２ -->
        <div class="content-item">
          <div class="unique-item">
            <img src="../images/166213_screenShots.jpg" alt="Image 1" class="content-image" />
            <div class="content-details">
              <h2 class="content-title">名探偵コナン 100万ドルの五稜星(みちしるべ)</h2>
              <p class="content-description">監督：永岡智佳 <br>
                出演：【声の出演】高山みなみ／山崎和佳奈／小山力也／山口勝平／堀川りょう／宮村優子／大泉洋 ほか</p>
              <button class="content-button2">+ more show</button>
            </div>
          </div>
          <!-- クリックしたら表示されるコンテンツ -->
          <div class="more-detailFl2">
            <h1 class="introduce">INTRODUCTION</h1>
            <p class="more-detail">
              北海道・函館にある斧江財閥の収蔵庫に、怪盗キッドからの予告状が届いた。今回キッドが狙うのは、幕末を生きた新選組副長・土方歳三にまつわる日本刀だという。ビッグジュエルを追い求めるキッドが、なぜ刀を狙うのか……？一方、西の名探偵・服部平次とコナン達も、函館で開催される剣道大会の為に現地を訪れており、犯行予告当日、平次がキッドの変装を見事見破り追い詰めるが……！？時を同じくして、胸に十文字の切り傷がつけられた遺体が函館倉庫街で見つかる。捜査線上に浮かび上がったのは、“死の商人”と呼ばれ、アジア一帯で武器商人として活動する日系アメリカ人の男。彼は戦時中の軍需産業に深く関わっていた斧江家初代当主が函館のどこかに隠したとされるお宝を探していた。それは、当時、日本の敗色濃厚だった戦況を一変させるほどの強力な兵器だという噂も……。 そして、そのお宝とキッドが狙う刀はどうやら関係があるようで、刀を狙うキッドに対し、謎の“剣士”の影が迫り……。
            </p>
            <a href="https://www.conan-movie.jp/2024/story.html" class="officialSiteCheck">オフィシャルサイト &#8362;</a>
            <h1 class="schedule">SCHEDULE</h1>
            <!-- カレンダー -->
            <div class="calendar-wrapper">
              <button id="scroll-left2" class="scroll-button">◀</button>
              <div class="calendar-container2">
                <div class="calendar2">
                  <!-- ここに日付を追加 -->
                  <div class="day select">
                    <p class="today">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                  <div class="day">
                    <p class="day_f">05/15<span class="mini">(水)</span></p>
                  </div>
                </div>
              </div>
              <button id="scroll-right2" class="scroll-button">▶</button>
            </div>

            <div id="s_top">
              <p id="now">2024/05/15<span class="mini">(水)</span></p>
            </div>

            <div class="s_waku">
              <div class="s_all">
                <div id="BLUELOCK"></div>
                <div class="s_head">
                  <p class="jp">名探偵コナン 100万ドルの五稜星(みちしるべ)</p>
                </div>

                <p class="s_sp">★NEW</p>

                <div class="s_rooms">
                  <div class="s_room">
                    <p class="theater">THEATER&thinsp;&thinsp;<span class="big">2</span></p>
                    <p class="xd">2D</p>
                    <p class="min">145min</p>
                  </div>

                  <div class="s_time">
                    <p class="start s_bought">10:10</p>
                    <p class="finish f_bought">~12:12</p>
                    <a class="buyFl1" href="#">
                      <img src="../images/cantBuy.png" alt="購入不可" />
                      <div class="cantBuy">購入不可</div>
                    </a>
                  </div>

                  <div class="s_time">
                    <p class="start">13:10</p>
                    <p class="finish">~15:12</p>
                    <a class="buyFl2" href="#">
                      <img src="../images/canBuy.png" alt="購入可" class="marubatsu" />
                      <div class="canBuy">購入</div>
                    </a>
                  </div>
                </div>

                <div class="s_rooms">
                  <div class="s_room">
                    <p class="theater">THEATER&thinsp;&thinsp;<span class="big">4</span></p>
                    <p class="xd">2D</p>
                    <p class="min">118min</p>
                  </div>

                  <div class="s_time">
                    <p class="start">13:10</p>
                    <p class="finish">~15:12</p>
                    <a class="buyFl2" href="#">
                      <img src="../images/canBuy.png" alt="購入可" class="marubatsu" />
                      <div class="canBuy">購入</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 切替ボタン２ -->
      <div id="choiceBoxFl2">
        <div class="choice_box">
          <a href="#" class="nowShow2">Now Showing</a>
          <a href="#" class="comingShow2">Coming Soon</a>
        </div>
      </div>

      <!-- 映画情報フレーム全体２ -->
      <div class="content-container">
        <!-- 映画情報フレーム個々１ -->
        <div class="content-item">
          <div class="unique-item">
            <img src="../images/comingsoon.jpg" alt="Image 1" class="content-image" />
            <div class="content-details">
              <h2 class="content-title">Title 1</h2>
              <p class="content-description">Description 1</p>
              <button class="content-button3">+ more show</button>
            </div>
          </div>
          <!-- クリックしたら表示されるコンテンツ -->
          <div class="more-detailFl3">
            <h1 class="introduce">INTRODUCTION</h1>
            <p class="more-detail">sample detail</p>
            <a href="#" class="officialSiteCheck">オフィシャルサイト &#8362;</a>
            <h1 class="schedule">SCHEDULE</h1>
            <p class="more-detail">202x 6月公開予定</p>
          </div>
        </div>

        <!-- 映画情報フレーム個々２ -->
        <div class="content-item">
          <div class="unique-item">
            <img src="../images/comingsoon.jpg" alt="Image 1" class="content-image" />
            <div class="content-details">
              <h2 class="content-title">Title 1</h2>
              <p class="content-description">Description 1</p>
              <button class="content-button4">+ more show</button>
            </div>
          </div>
          <!-- クリックしたら表示されるコンテンツ -->
          <div class="more-detailFl4">
            <h1 class="introduce">INTRODUCTION</h1>
            <p class="more-detail">sample detail</p>
            <a href="#" class="officialSiteCheck">オフィシャルサイト &#8362;</a>
            <h1 class="schedule">SCHEDULE</h1>
            <p class="more-detail">202x 8月公開予定</p>
          </div>
        </div>
      </div>

      <!-- <div class="text-container1">
        <p>This is the first paragraph.</p>
        <p>This is the second paragraph.</p>
      </div>

      <div class="text-container2">
        <p>This is the first paragraph.</p>
        <p>This is the second paragraph.</p>
      </div> -->
    </main>
    <!-- フッター ------------------------------------------------->
    <footer class="commonFooter">
      <!-- NEWSLETTER -->
      <div class="commonLetterContein">
        <hr class="commonLetterHr">
        <div class="commonLetterBox">
            <p class="commonLetterBoxItem commonLetterInfo">NEWSLETTER</p>
            <p class="commonLetterBoxItem commonLetterDetail">HALCINEMAの新しい情報、特別な<br>ご案内などをお届けいたします。</p>
            <a class="commonLetterBoxItem commomLettterLine" href="https://page.line.me/909kiqea">公式LINEに登録する   →</a>
        </div>
    </div>

      <!-- ロゴ -->
      <figure class="commonLogoBox">
        <img class="commonLogo" src="../images/logo.svg" alt="HAL CINEMA" />
      </figure>

      <!-- ナビゲーション：メニュー項目と遷移先は適宜変更してください -->
      <nav class="commonNav">
        <ul>
          <li class="commonMenu">
            <a class="commonMenuLink" th:href="@{${topLink}}">TOP</a>
          </li>
          <li class="commonMenu">
            <a class="commonMenuLink" th:href="@{/member}">MEMBERS</a>
          </li>
          <li class="commonMenu">
            <a class="commonMenuLink" th:href="@{/service}">SERVICE</a>
          </li>
          <li class="commonMenu">
            <a class="commonMenuLink" th:href="@{/access}">ACCESS</a>
          </li>
          <li class="commonMenu commonSnsMenu">
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
          </li>
          <li class="commonMenu commonSnsMenu">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
        </ul>
      </nav>

      <nav class="commonFooterNav">
        <ul>
          <li class="commonFooterMenu">
            <a class="commonFooterMenuLink" th:href="@{${topLink}}">ホーム</a>
          </li>
          <li class="commonFooterMenu commonMenuLine">｜</li>
          <li class="commonFooterMenu">
            <a class="commonFooterMenuLink" href="https://forms.gle/CPnin4yeeBP7LthE8">お問い合わせ</a>
          </li>
        </ul>
      </nav>
      <p class="commonFooterCopyright">&copy;2024 HAL CINEMA</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/showmovie.js"></script>
  </body>
</html>
