<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザ登録画面</title>
</head>
<body>
	<h2>ユーザ登録画面</h2>	
	<span th:text="${errorMsg}"></span>
	<form th:action="@{/signup}" method="post" th:object="${signupForm}">
		<div>
			<label>ログインID</label>
			<input type="text" th:field="*{memberMailaddress}">
		</div>
		<div>
			<label>パスワード</label>
			<input type="password" th:field="*{memberPassword}">
		</div>
		<div>
			<input type="submit" value="ユーザ登録">
		</div>
	</form>
	<a th:href="@{/login}">ログイン</a>
</body>
</html>
