<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/systemtop.css">
    <title>Document</title>
</head>
<body>
    <div class="flex-box">
        <div class="logo">
            <img src="../images/logo.svg" alt="ロゴ">
        </div>
    </div>

    <div class="sections-container">
        <div class="section">
            <div class="content">
                <h2>会員登録</h2>
                <button class="button-modern">NEXT</button>
            </div>
        </div>

        <div class="section reverse">
            <div class="content">
                <h2>ご予約</h2>
                <button class="button-modern">NEXT</button>
            </div>
        </div>

        <div class="section">
            <div class="content">
                <h2>物品販売</h2>
                <button class="button-modern">NEXT</button>
            </div>
        </div>
    </div>
</body>
</html>
